<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169602805132-v04i40dgh1js252bhb9o9si3vr7uhspe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169602805132-v04i40dgh1js252bhb9o9si3vr7uhspe</string>
	<key>API_KEY</key>
	<string>AIzaSyD3wofYK9b9iobxXctRt82clsUAXQ2v0f4</string>
	<key>GCM_SENDER_ID</key>
	<string>169602805132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wauters.mano</string>
	<key>PROJECT_ID</key>
	<string>mano-d6194</string>
	<key>STORAGE_BUCKET</key>
	<string>mano-d6194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169602805132:ios:76e9dfef3c3f7159</string>
	<key>DATABASE_URL</key>
	<string>https://mano-d6194.firebaseio.com</string>
</dict>
</plist>